
body {
    background-color: rgb(225, 238, 151);
}

.content {
    position: absolute;
    top: 100px;
    left: 600px;
    background-color: black;
    width: 200px;
    height: 470px;
    margin: 0 auto;
    padding: 1px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 5px blue;
    text-align: center;
    /* flex-wrap: wrap; */
} 

.red {
    display: inline-block;
    background-color: lightgray;
    width: 100px;
    height: 100px;
    margin-top: 45px;
    border-radius: 50%;
}

.red:hover {
    background-color: red;
    box-shadow: 1px 1px 10px 5px rgb(240, 50, 64);
}

.yellow {
    display: inline-block;
    background-color: lightgray;
    width: 100px;
    height: 100px;
    margin-top: 45px;
    border-radius: 50%;
}

.yellow:hover {
    background-color: yellow;
    box-shadow: 1px 1px 10px 5px yellow;
}

.green {
    display: inline-block;
    background-color: lightgray;
    width: 100px;
    height: 100px;
    margin-top: 45px;
    border-radius: 50%;
}

.green:hover {
    background-color: green;
    box-shadow: 1px 1px 10px 5px green;
}

.h1 {
    color: rgb(243, 6, 6);
    text-align: center;
    flex-wrap: wrap;
}